@using PracticalFourteen.Domain.Entities;
@model EmployeeModel

<div class="my-3">
    <div class="d-flex alert alert-dark">
        <h6 class="mx-3"><i class="fa fa-solid fa-user me-2"></i>@Html.DisplayFor(emp => Model.Name)</h6>
        <h6 class="mx-3"><i class="fa fa-solid fa-calendar me-2"></i>@Html.DisplayFor(emp => Model.DOB)</h6>
        <h6 class="mx-3"><i class="fa fa-solid fa-map-marker me-2"></i> @Html.DisplayFor(emp => Model.Age)</h6>
    </div>
</div>
