@{
    ViewBag.Title = "Employee Page";
}

<div class="text-center mt-5 mb-3">
    <h1>Employee Management</h1>
</div>

<button class="btn btn-outline-dark mb-3" id="CreateEmployee"><i class="fa fa-plus"></i> Create new User</button>

@*Load sections for Create, Edit Employee(Not for employee table) *@
<div id="DisplaySection"></div>

<div class="mb-3">
    <input class="form-control" type="search" placeholder="Search by name" aria-label="Search" id="Search">
</div>

<div class="container">
    @*Employees loads here*@
    <div id="EmployeeData"></div>

    @*For toast messages*@
    <div id="ToastDisplay"></div>
</div>

@section Scripts{
    <script src="~/Scripts/employee-script.js"></script>
}
